@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-plus-jakarta-sans);

  --color-primary: #c9f51c;
  --color-light-900: #ffffff;
  --color-light-800: #fefffb;
  --color-light-700: #e6e6e6;
  --color-light-600: #f2f1ed;
  --color-light-500: #bcbcbc;
  --color-light-400: #939393;
  --color-light-300: #787765;
  --color-light-200: #535353;
  --color-light-100: #0c0c0c;

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --primary: #c9f51c;
  --light-900: #ffffff;
  --light-800: #fefffb;
  --light-700: #e6e6e6;
  --light-600: #f2f1ed;
  --light-500: #bcbcbc;
  --light-400: #939393;
  --light-300: #787765;
  --light-200: #535353;
  --light-100: #0c0c0c;

  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: rgb(2, 6, 24);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);

  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-none p-0 m-0;
  }
  body {
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .flex-end {
    @apply flex justify-end items-center;
  }

  .flex-items-start {
    @apply flex items-start;
  }

  .no-focus {
    @apply ring-0 focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 outline-none;
  }

  .no-focus-blue {
    @apply ring-0 focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 outline-none;
  }

  .b-test {
    @apply !border !border-solid !border-red-400;
  }
}

@layer components {
  .footer-title {
    @apply text-lg font-semibold text-light-100;
  }

  .footer-links-group {
    @apply flex flex-col gap-4 text-sm mt-6 text-light-400;
  }

  .primary-btn {
    @apply !flex !gap-4 !items-center justify-center !bg-light-100 !rounded-full !text-light-800 !h-12 !px-6 !font-semibold md:!text-base !text-sm !min-w-[140px] max-w-max !cursor-pointer;
  }

  .primary-btn-custom {
    @apply !bg-light-100 !text-light-800 !font-semibold !rounded-full !text-base !min-w-[140px] !max-w-[520px] !w-full !cursor-pointer !h-12 !px-6;
  }

  .secondary-btn {
    @apply !flex !gap-4 !items-center justify-center !bg-transparent border border-light-100 border-solid !rounded-full text-light-100 !min-w-[140px] max-w-max !h-12 !px-6 !font-semibold !text-base !cursor-pointer;
  }

  .secondary-btn-custom {
    @apply flex gap-4 items-center border border-light-100 border-solid rounded-full text-light-100 font-semibold;
  }

  .primary-btn-light {
    @apply !flex !gap-7 !bg-light-900 text-light-100 !h-12 !px-6 !text-base !font-semibold !rounded-full !items-center  !cursor-pointer;
  }

  .heading-2 {
    @apply capitalize text-4xl md:text-5xl font-semibold tracking-tight;
  }

  .heading-3 {
    @apply text-4xl font-semibold;
  }

  /* Form utility classes */

  .candidate-form-contents {
    @apply flex md:flex-row flex-col w-full gap-8 md:gap-20 justify-between items-start;
  }

  .multi-form-wrapper {
    @apply flex flex-col gap-5 md:gap-8 w-full min-h-[58vh];
  }

  .form-img-input-wrapper {
    @apply flex flex-col gap-2 font-medium;
  }

  .form-semibold {
    @apply font-semibold;
  }

  .req-wrapper {
    @apply flex gap-1 flex-wrap font-semibold text-sm;
  }

  .form-sub-title {
    @apply flex flex-col mt-3 text-2xl font-semibold border-b pb-4 md:w-1/2 border-solid border-light-500;
  }

  .profile-heading {
    @apply text-lg md:text-2xl font-semibold w-full p-3 bg-light-700 text-black;
  }

  .card-img {
    @apply w-72 h-40 rounded-2xl object-cover border border-solid border-light-500;
  }

  .profile-detail-section-wrapper {
    @apply flex flex-col gap-4;
  }

  .profile-detail-subheading {
    @apply font-semibold pb-2 my-2 border-b w-64 border-solid border-light-400;
  }

  .profile-detail-label {
    @apply font-medium text-light-200 w-64;
  }

  .profile-detail {
    @apply font-medium capitalize;
  }
}
